{% extends "base.html" %}  

{% block content %}

<div class="row justify-content-center">
  <div class="col-6">
    <h3>Sign In</h3>

    <p>
      Welcome back to the ecabanasv portfolio. To leave a
      comment or like a project, please log in. If you have not created an
      account yet, then
      <a class="link" href="{{ signup_url }}">sign up</a> first.
    </p>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-6">
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
      <input
        type="hidden"
        name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}"
      />
      {% endif %}
      <button class="btn btn-secondary" type="submit">
        Sign In
      </button>
    </form>
  </div>
</div>

{% endblock %}
