{% extends "base.html" %} {% block content %}
<div class="row justify-content-center">
  <div class="col-sm">
    <img src="https://picsum.photos/400/300" class="img-fluid" />
  </div>
  <div class="col-sm">
    <h1>About</h1>
    <p>
      My name is Enrique, and I am from Spain. I live in Dublin and work for
      Salesforce as a Developer Support Engineer.
    </p>
    <p>
      My main hobbies are swimming, tennis and cycling. I am a fan of the world
      of Marvel, GoT, LoTR and One Piece, among others. I love reading,
      especially fiction, thriller, true crime and psychology.
    </p>
    <p>
      I am currently a student of the Full Stack Web Development course taught
      by Code Institute. In the past I finished studies related to software
      development and blockchain.
    </p>
    <p>
      I have work experience in web development as a Junior Web Developer
      working with different web technologies: HTML5, CSS3, JavaScript and
      database administrator like SQL and Mongo.
    </p>
    <p>For more information, check my CV at this link.</p>
  </div>
</div>
{% endblock %}
