{% extends "base.html" %}

{% block content %}
<div class="row d-flex justify-content-center my-5">
    <div class="col-sm">
        <main class="p-3 lh-lg">
            <h1>Hi, <br>I'm Enrique, <br>Web Developer Student @ CI</h1>
            <p class="lead">Full Stack / Django / Bootstrap</p>
            <p class="lead">
              <a href="{% url 'contact' %}" class="btn border-white bg-white">Contact me!</a>
            </p>
          </main>
    </div>
    <div class="col-sm">
       <img src="https://picsum.photos/500/400" alt="home-img">
    </div>
</div>

{% endblock %}