{% extends "base.html" %} {% load static %} {% block extra_title %} -
unpublished projects{% endblock %} {% block content %}
<div class="row mb-3">
  <h1 class="page-title">Portfolio - Unpublished</h1>
  {% if user.is_superuser %}
  <div class="col-8 d-flex justify-content-start">
    {% if publish_b %}
    <a
      href="{% url 'portfolio' %}"
      class="btn btn-secondary bg-dark text-white me-3"
      >See Published <i class="fa-solid fa-toggle-on"></i
    ></a>
    {% endif %}
    <a
      href="/admin/portfolio/comment/"
      target="_blank"
      class="btn btn-secondary bg-dark text-white"
      >Admin comments <i class="fa-solid fa-comment"></i
    ></a>
  </div>
  <div class="col-4 d-flex justify-content-end">
    <a
      href="{% url 'project_create' %}"
      class="btn btn-secondary bg-dark text-white"
      >Add project <i class="fa-solid fa-circle-plus"></i
    ></a>
  </div>
</div>
{% endif %}
<div class="row justify-content-center">
  {% for project in projects %}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm bg-dark">
      {% if "placeholder" in project.image_main.url %}
      <img
        class="card-img-top rounded-3 project-image"
        alt="{{ project.title }}"
        src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
      />
      {% else %}
      <img
        class="card-img-top rounded-3 project-image"
        alt="{{ project.title }}"
        src="{{ project.image_main.url }}"
      />
      {% endif %}
      <span
        class="position-absolute ps-1 pe-1 mt-2 me-2 top-90 end-0 bg-dark border border-dark"
      >
        {% if user.is_superuser %}
        <a href="{% url 'project_update' project.slug  %}" class="text-warning"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
        <a href="{% url 'project_delete' project.slug  %}" class="text-danger"
          ><i class="fa-solid fa-trash"></i
        ></a>
        {% endif %}
      </span>
      <div class="card-body text-center">
        <h5 class="card-title">{{ project.title }}</h5>
        <a
          href="{{ project.github_url }}"
          target="_blank"
          class="text-white me-2"
          ><i class="fa-brands fa-github fa-lg"></i
        ></a>
        <a href="{{ project.live_url }}" target="_blank" class="text-white me-2"
          ><i class="fa-solid fa-globe fa-lg"></i
        ></a>
        <a href="{% url 'project_detail' project.slug  %}" class="text-white"
          ><i class="fa-solid fa-circle-info fa-lg"></i
        ></a>
      </div>
    </div>
  </div>

  {% if forloop.counter|divisibleby:6 %}
</div>
<div class="row">{% endif %} {% endfor %}</div>
{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li>
      <a
        href="?page={{ page_obj.previous_page_number }}"
        class="btn btn-secondary"
        >&laquo; PREV
      </a>
    </li>
    {% endif %} {% if page_obj.has_next %}
    <li>
      <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary">
        NEXT &raquo;</a
      >
    </li>

    {% endif %}
  </ul>
</nav>
{% endif %} {% endblock %}
