{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>Portfolio</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, explicabo. Quaerat, eum. Quae, aperiam. Nesciunt, quas vitae! Ipsa, odit? Doloribus, quos? Officia, officiis. Natus, quidem. Quam, deleniti. Laborum, maiores quidem?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, explicabo. Quaerat, eum. Quae, aperiam. Nesciunt, quas vitae! Ipsa, odit? Doloribus, quos? Officia, officiis. Natus, quidem. Quam, deleniti. Laborum, maiores quidem?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, explicabo. Quaerat, eum. Quae, aperiam. Nesciunt, quas vitae! Ipsa, odit? Doloribus, quos? Officia, officiis. Natus, quidem. Quam, deleniti. Laborum, maiores quidem?</p>
            </div>
        </div>
    </div>
{% endblock %}