{% extends "base.html" %} {% block content %}
<div class="row">
  {% for project in projects %}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm bg-dark">
      {% if "placeholder" in project.image_main.url %}
      <img
        class="card-img-top"
        src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
      />
      {% else %}
      <img class="card-img-top" src=" {{ project.image_main.url }}" />
      {% endif %}
      <div class="card-body  text-center">
        <h5 class="card-title">{{ project.title }}</h5>
            <a
              href="{{ project.github_url }}"
              target="_blank"
              class="text-white"
              ><i class="fa-brands fa-github"></i
            ></a>
            <a href="{{ project.live_url }}" target="_blank" class="text-white"
              ><i class="fa-solid fa-globe"></i
            ></a>
            <a
              href="{% url 'project_detail' project.slug  %}"
              class="text-white"
              ><i class="fa-solid fa-circle-info"></i
            ></a>
        </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
