{% extends "base.html" %}

{% load static %}

{% block extra_title %} - {{ project.title }}{% endblock %}

{% block content %} {% load crispy_forms_tags %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb text-white">
    <li class="breadcrumb-item"><a href="{% url 'portfolio' %}"><i class="fa-solid fa-arrow-left-long"></i> Go Back</a></li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <h1 class="project-title text-left">{{ project.title }}</h1>
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm bg-dark">
        {% if "placeholder" in project.image_main.url %}
        <img
          class="project-image img-fluid" alt="{{ project.title }}"
          src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
        />
        {% else %}
        <img
          class="project-image img-fluid" alt="{{ project.title }}"
          src=" {{ project.image_main.url }}"
        />
        {% endif %}
        <span
          class="position-absolute top-90 end-0 ps-1 pe-1 mt-1 me-1 bg-dark border border-dark"
        >
          {% if user.is_superuser %}
          <a href="{% url 'project_update' project.slug  %}" class="text-warning"
            ><i class="fa-solid fa-pen-to-square"></i
          ></a>
          <a href="{% url 'project_delete' project.slug  %}" class="text-danger"
            ><i class="fa-solid fa-trash"></i
          ></a>
          {% endif %}
        </span>
      </div>
      <div class="d-flex justify-content-center">
          {% if user.is_authenticated %}
          <form
            class="d-inline"
            action="{% url 'like_project' project.slug %}"
            method="POST"
          >
          <a
          href="{{ project.github_url }}"
          target="_blank"
          class="project-icon text-white"
          ><i class="fa-brands fa-github fa-lg"></i
        ></a>
        <a
          href="{{ project.live_url }}"
          target="_blank"
          class="project-icon text-white"
          ><i class="fa-solid fa-globe fa-lg ms-2 me-2"></i
        ></a>
            {% csrf_token %} {% if liked %}
            <button
              type="submit"
              name="project_id"
              class="like-button"
              value="{{project.slug}}"
            >
            <span><i class="fa-solid fa-thumbs-up"></i></span>
            </button>
            {% else %}
            <button
              type="submit"
              name="project_id"
              class="like-button"
              value="{{project.slug}}"
            >
            <span><i class="fa-regular fa-thumbs-up fa-lg"></i></span>
            </button>
            {% endif %}
          </form>
          {% else %}
          <a
          href="{{ project.github_url }}"
          target="_blank"
          class="project-icon text-white"
          ><i class="fa-brands fa-github fa-lg"></i
        ></a>
        <a
          href="{{ project.live_url }}"
          target="_blank"
          class="project-icon text-white"
          ><i class="fa-solid fa-globe fa-lg"></i
        ></a>
          <span class="like-button"><i class="fa-solid fa-thumbs-up fa-lg"></i></span>
          {% endif %}
          <!-- The number of likes goes before the closing strong tag -->
          <span class="text-secondary">{{ project.likes_counter }} </span>
      </div>
    </div>

    <div class="col-md-6 ps-3 pe-3">
      <h3 class="text-left">Description</h3>
      <p class="text-left">{{ project.description | safe }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 p-3">
      <h3>Comments</h3>
      {% if comments %} {% for comment in comments %}
      <div class="card bg-dark">
        <div class="card-body">
          <p>Pros: {{ comment.text_pros }}</p>
          <p>Cons: {{ comment.text_cons }}</p>
          <p>Score: {{ comment.score }}</p>
          <p class="text-muted">
            Posted by {{ comment.name }} on {{ comment.created_on }}
          </p>
        </div>
      </div>
      {% endfor %} {% else %}
      <p>There are no comments yet.</p>
      {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div class="col-md-6 d-flex justify-content-center p-3">
      {% if wait %}
      <div class="alert alert-success" role="alert">
        You have already added a comment. Admin will review it and approves it shortly.
      </div>
      {% else %}
      <form style="width: 400px" method="POST">
        <h3>Add a comment</h3>
        {{ form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">
          Add a comment
        </button>
      </form>
    </div>
    {% endif %}
    {% else %}
    <div class="col-md-6 text-center p-3">
      <h4>Send me your feedback</h4>
      <p>
        You need to be logged in to add a comment.
        <a href="{% url 'account_login' %}">Login</a>
      </p>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
