{% extends "base.html" %}

{% load static %}

{% block extra_title %} - update project{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb text-white">
      <li class="breadcrumb-item"><a href="{% url 'portfolio' %}"><i class="fa-solid fa-arrow-left-long"></i> Go Back</a></li>
    </ol>
</nav>

<div class="row">
    <div class="col-12">
        <h1 class="page-title text-center">Edit project - <span class="project-title">{{ project.title }}</h1>
    </div>
</div>
<div class="row d-flex justify-content-center">
<div class="col-3">
    <p class="text-center">Current image:</p>
    {% if "placeholder" in project.image_main.url %}
    <img
      class="img-thumbnail"
      alt="{{ project.title }}"
      src="https://res.cloudinary.com/duuefpayr/image/upload/v1671125521/default_nmmhbs.png"
    />
    {% else %}
    <img src="{{ project.image_main.url }}" alt="{{ project.title }}" class="img-thumbnail">
    {% endif %}
</div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-12 col-md-8 col-sm-8 col-sx-8">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary">Update</button>
        </form>
    </div>
</div>

{% endblock %}