{% extends "base.html" %}

{% load static %}

{% block extra_title %} - delete a project{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb text-white">
      <li class="breadcrumb-item"><a href="{% url 'portfolio' %}"><i class="fa-solid fa-arrow-left-long"></i> Go Back</a></li>
    </ol>
</nav>

<div class="row d-flex flex-column align-items-center justify-content-center">
    <div class="col-6">
        <h1 class="page-title text-center">Delete project</h1>
        <p class="text-center">Are you sure you want to delete this project: <span class="project-title">{{ project.title }}</span>?</p>
        <form method="POST" class="text-center">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>

{% endblock %}